body {
  margin: 0;
  width: 100%;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navigation {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #000000;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
}

.navigation a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 10px 30px 10px 10px;
}

.navigation a:hover,
.navigation a.logo:hover {
  color: #eee;
}

.navigation a.logo {
  /* justify-content: flex-start; */
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #00a532;
}

.jargon {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 100px;
  color: white;
}

.plastic-icon {
  margin-right: 200px;
}

.jargon-top {
  margin-bottom: 2px;
}

.jargon-middle {
  margin-top: 5px;
  margin-bottom: 2px;
}

.jargon-bottom {
  margin-top: 5px;
}
.plastic-icon {
  padding-left: 500px;
  height: 180px;
}

.about {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #fafafa;
  height: 300px;
}

.about-info {
  display: flex;
  flex-direction: column;
  text-justify: auto;
  font-size: 20px;
  color: #00a532;
}
.about-title {
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
}

.about-info .text {
  text-align: justify;
  width: 500px;
  font-size: 15px;
  margin-top: 0px;
  color: black;
  padding-top: 0px;
}

.about-photo {
  height: 180px;
  padding-left: 410px;
}

.using {
  display: flex;
  justify-content: center;
  margin-right: 900px;
  margin-top: 100px;
  color: #00a532;
}

.why-title {
  display: flex;
  justify-content: center;
  color: #31e366;
}

.why-us {
  display: flex;
  flex-direction: column;
  background-color: #31e366;
}

.why-content {
  display: flex;
  justify-content: center;
}

.content-one {
  display: flex;
  flex-direction: column;
  margin-right: 370px;
}

.content-title {
  color: #31e366;
  margin: 0 0 0 0;
}

.background {
  background-image: url(../images/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.button {
  background: #fc7c34;
  padding: 5px;
  border-radius: 5px;
  transition: 0.25s;
}

a.button:link,
a.button:visited {
  color: #fff;
}

a.button:hover {
  /* color: #fff; */
  background: purple;
}

.register-content {
  display: flex;
  background: url("/images/background.png");
  min-height: 90vh;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-title {
  text-align: center;
}

.register-title span {
  display: block;
  font-size: small;
}

fieldset {
  border-width: 0;
  margin: 20px 0;
  padding: 0;
}

.forms {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.input {
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  border: none;
  background: rgba(229, 229, 229, 0.6);
  color: #fff;
  min-width: 200px;
}

.input::placeholder {
  color: #eee;
}

#login,
#register {
  margin: 20px;
}

a.forgot-links {
  color: #fff;
  text-decoration: none;
}

.button {
  margin: 0;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  color: #fff;
}

.button.login {
  background: #10c7ef;
}

.button.register {
  background: #fc7c34;
  text-transform: uppercase;
  width: 100%;
}

.card-img-top {
  width: 100%;
}

.content-two {
  padding-bottom: 50px;
}

.form {
  display:flex;
}


.company-label {
  margin-top: 20px;
}

select {
  width: 95%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.info {
  width: 200px;
}

.details {
  display: flex;
  flex-direction: row;
}



.history {
  background: #000000;
  display: flex;
    justify-content: center;
}
#pricing-table {
	margin: 100px auto;
	text-align: center;
  width: 892px; /* total computed width = 222 x 3 + 226 */
  
}

#pricing-table .plan {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #fff;      
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 230px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */
	float: left;
	position: relative;
}

#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;        
}

/* --------------- */	

#pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
	background-color: #ddd;
	background-image: -moz-linear-gradient(#eee,#ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; 		
}

#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;       
}	

#pricing-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

/* --------------- */
	
#pricing-table .signup {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #72ce3f;
	background-image: -moz-linear-gradient(#72ce3f, #62bc30);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));    
	background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
	background-image: -o-linear-gradient(#72ce3f, #62bc30);
	background-image: -ms-linear-gradient(#72ce3f, #62bc30);
	background-image: linear-gradient(#72ce3f, #62bc30);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
	background-color: #62bc30;
	background-image: -moz-linear-gradient(#62bc30, #72ce3f);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));      
	background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
	background-image: -o-linear-gradient(#62bc30, #72ce3f);
	background-image: -ms-linear-gradient(#62bc30, #72ce3f);
	background-image: linear-gradient(#62bc30, #72ce3f); 
}

#pricing-table .signup:active, #pricing-table .signup:focus {
	background: #62bc30;       
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}
